/*==============================
=            Footer            =
==============================*/
.site-footer {
	bottom: 0;
	width: auto;
	z-index: -1;
	padding: 40px 10px 20px;
	background-color: $color__background-footer;
	color: $color__text-footer;
	text-align:left;

	.csis-logo {
		display: block;
		margin-bottom: 1.5rem;
	}

	p {
		font-size: 14px;
		line-height: 1.4;

		@include breakpoint('medium') {
		  font-size: 16px;
			line-height: 1.5;
		}
	}

	.site-desc {

		p {
			@include breakpoint('medium') {
			  max-width: 80%;
			}
		}

		.contact {
			@include breakpoint('medium') {
			 	display: flex;
				align-items: center; 
			}
		}

		address {
			font-size: 12px;
			margin-top: 10px;

			@include breakpoint('medium') {
			  display: inline-block;
				margin: 0 0 0 10px;
				font-size: 14px;
			}
		}
	}

	a {
		color: $light-blue;
		font-weight: normal;
		&:hover { color: $white; }
	}

	.newsletter {
		h5 {
			margin: 2rem 0 0.5rem;
			color: $white;
			border-bottom: 0;
		}

		.link-btn {
	    background-color: $light-blue;
	    color: $dark-blue !important;

	    &:hover {
	    	background-color: $gold;
	    }
		}
	}

	.copyright {
		margin-top: 20px;

		p {
			font-size: 12px;
			margin: 0;
		}
	}
}

.topbutton {
	padding: 8px 15px;
	position:fixed;
	right:0px;
	bottom:0px;
	z-index:1;
	background-color: $color__background-footer;
	display:none;
	color: $color__text-footer !important;
}


.smIcon {
	background-color: $white;
	height: 30px;
	margin-right: 10px;
	bottom: calc(100% - 30px);
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: $gold;
	}
}
