@use '../abstracts' as *;

.archive {
  display: grid;
  row-gap: rem(48px);
  width: 100%;

  @include breakpoint('large') {
    grid-template-columns: auto 300px;
    justify-content: center;
    column-gap: 6vw;
    row-gap: 0;

    &__content {
      grid-column: 1;
      max-width: rem(700px);
    }

    &__sidebar {
      grid-column: 2;
      max-width: rem(300px);
    }
  }
}
