@use '../abstracts' as *;

.title {
  margin: 5rem 0;
  @extend %font-ui-page-title-lg;
}

.home {
  &__news {
    margin-top: rem(56px);

    &-heading {
      @extend %font-ui-heading-lg;
      color: $color-primary-blue-200;
      font-weight: 400;
      margin-bottom: rem(32px);
    }

    &-title {
      @extend %font-ui-headline-md;
      color: $color-text-dark-100;
      margin-bottom: rem(8px);
    }

    .post-meta__date {
      margin-bottom: rem(32px);
    }

    @include breakpoint('medium') {
      margin-top: 0;
    }
  }

  &__projects {
    @include full-width-background($color-primary-light-gray);
    padding: rem(56px) 0;
    background: $color-primary-light-gray;

    &-wrapper {
      @include breakpoint('small') {
        display: grid;
      }

      @include breakpoint('large') {
        grid-template-columns: repeat(3, 1fr);
        column-gap: rem(48px);
      }

      @include breakpoint('xlarge') {
        column-gap: rem(64px);
      }
    }

    &-title {
      @extend %font-ui-heading-lg;
      margin-bottom: rem(4px);
      color: $color-primary-blue-200;
    }

    &-info {
      margin-bottom: rem(32px);

      @include breakpoint('medium') {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(24px);
      }
    }

    &-desc {
      @extend %font-body-short-md-serif;
      width: 50%;
      margin-bottom: rem(8px);
      color: $color-text-dark-170;

      @include breakpoint('medium') {
        margin-bottom: 0;
      }
    }

    &-view-all {
      display: inline;
      align-self: flex-end;
      color: $color-text-dark-190;
      font-size: rem(17px);
      font-style: italic;
      line-height: 1.15;
    }
  }
}
