@use '../abstracts' as *;
@use '../components/footnotes';

.single__content {
  max-width: $size__content-max-width;
  margin-right: auto;
  margin-left: auto;
  color: $color-text-dark-100;

  > p {
    @extend %font-body-long-lg;
    color: $color-text-dark-190;
    
    &:not(:last-child) {
      margin-bottom: rem(40px);
    }
  }

  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-bottom: rem(12px);
  }

  > h3,
  > h4 {
    margin-top: rem(40px);
    font-weight: normal;
  }

  > h5,
  > h6 {
    margin-top: rem(32px);
  }

  > h2,
  > h5,
  > h6 {
    font-weight: 600;
  }

  > h2 {
    @extend %font-copy-heading-2;
    margin-top: rem(56px);
  }

  > h3 {
    @extend %font-copy-heading-3;
  }

  > h4 {
    @extend %font-ui-heading-md;
  }

  > h5 {
    @extend %font-copy-heading-5;
  }

  > h6 {
    @extend %font-copy-heading-6;
  }

  > ul,
  > ol {
    @extend %font-body-list-lg;
    margin-top: rem(12px);
    margin-bottom: 0;
    padding-bottom: rem(24px);
    padding-left: rem(32px);
    color: $color-text-dark-190;

    li:not(:last-child) {
      margin-bottom: rem(8px);
    }
  }

  figure {
    margin-bottom: rem(32px) !important;
  }
}
