/*=========================================
=            Print Stylesheets            =
=========================================*/

    @media print {
        *,
        *:before,
        *:after {
            background: transparent !important;
            color: #000 !important; // Black prints faster: h5bp.com/s
            box-shadow: none !important;
            text-shadow: none !important;
            filter: none !important;
            -ms-filter: none !important;
        }
        body {
        	padding: 0px !important;
            font-size: 12pt !important;
            overflow: visible !important;

            &:before {
            	content: 'Missile Threat';
            	margin-bottom: 1cm;
            	font-size: 24pt;
            	display: block;
            }

            &:after {

            	content: 'Printed from Missile Threat, ©2019 by the Center for Strategic and International Studies. All rights reserved.';
            	margin-top: 1cm;
            	font-size: 12pt;
            }
        }

        .site-content {
            margin-top: 0 !important;
        }

        #content, #missileTable_wrapper {
            overflow: visible !important;
        }

        article.post {
            border-bottom: 0 !important;
        }

        h1.entry-title {
            margin-top: 0 !important;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
        article {

        }

        img {
            page-break-inside: avoid;
        }

        a[href]:after {
            content: none !important;
        }

        header.entry-header {
            height: auto !important;

            .container {
                position: relative !important;
                top: initial !important;
                left: initial !important;
                transform: initial !important;
            }
        }

        .tax-system .archive-description, .tax-countries .archive-description {
            margin-top: 0 !important;
        }

        .tax-system .system-elements {
            margin: 0 0 25px 0 !important;
        }

        .sketchfab-embed-wrapper {
            margin: 0 25px 25px;
            iframe {
                display: none !important;
            }

            p br {
                display: none !important;
            }
        }

        table { page-break-inside:auto; font-size: 1vw !important; overflow: visible !important; }
        tr    { page-break-inside:avoid; page-break-after:auto;overflow: visible !important; }
        thead { display:table-header-group;overflow: visible !important; }
        tfoot { display:table-footer-group }

        #missileTable {
            width: 100% !important;
            overflow: visible !important;
            table-layout: fixed !important;

            thead th {
                width: auto !important;
            }

            .hidden-xs {
                display: table-cell !important;
            }
        }

        // Hide Elements
        .sharedaddy,
        .site-footer,
        .topbutton,
        .post-edit-link,
        .relatedposts,
        #missileTable_filter,
        article header img,
        .addtoany_share_save_container
        {
            display: none !important;
        }


    }
