@use 'abstracts' as *;

:root {
  /* stylelint-disable-next-line*/
  --scrollbar: 0px;
}

*:focus {
  outline: 1px solid #f00;
}

html,
body {
  overflow-x: hidden;
}

.container {
  --container-padding: 6vw;

  position: relative;
  max-width: $size__container-max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6vw;
  padding-right: var(--container-padding);
  padding-left: 6vw;
  padding-left: var(--container-padding);

  @include breakpoint(xxlarge) {
    --container-padding: #{rem(80)};
  }
}
