@use 'abstracts' as *;

body {
  font-family: $font-source-sans;
}

.text--bold {
  font-weight: bold;
}

.text--semibold {
  font-weight: semibold;
}

.text--italic {
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    border: 0;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
