/*=================================
=            Variables            =
=================================*/

/*----------  Colors  ----------*/

/*----------  Fonts  ----------*/

/*----------  Structure  ----------*/
$breakpoints: (
  'small': 30em,
  'medium': 40em,
  'large': 64em,
  'xlarge': 80em,
  'xxlarge': 87.5em,
);

$size__container-max-width: 1280px;
$size__content-max-width: 680px;
$size__issues-content-max-width: 900px;
$size__content-wide-max-width: 1152px;
