.about-page {
    h2 {
        margin-top: 0px;
    }
    p {
        font-size: .9em;
        line-height: 1.5;
        margin-bottom: 5px;
    }
    .link-btn {
        font-size: 0.8em;
        font-weight: 600;
        font-family: $font__OpenSans;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 8px 28px;
        display: inline-block;
        text-decoration: none;
        font-size: 0.8em;
    }

    a.blue {
        background-color: $dark-blue;
        color: white !important;
        font-weight: normal;
        margin-bottom: 20px;
    }

    a.blue:hover {
        background-color: $gray;
    }

    .email-link {
        font-size: .8em;
    }
}
