.tax-countries {

	header.entry-header.full-width {
		height:450px;
		background-position: 0, 0;

		.overlay {
		    width:100%;
		    height:100%;
		    background-color: rgba(95,121,129,1.0);
		    opacity: 0.5;
		    z-index:1;
		    align-self:center;
		}

		.title {
		    align-self:center;
		    padding:0px 10px;
		    width:100%;
		    z-index:2;
		    position:absolute;
		}
	}

	.archive-description {
		margin-top:40px;
	}

	.missiletable {
		border-top: 2px solid $light-green;
    	margin: 35px 0 35px 0;
    	border-bottom: 2px solid $light-green;
	}

	#missileTable_wrapper {
		margin-bottom:1.5em;
	}

	table.dataTable, table {
		margin: 1.5em 0 1.5em 37px;
    	width: 97%;
    	border-collapse:collapse !important;

		tr {
			font-size: 1em !important;
    		border-bottom: 1px dotted $black !important;
		}
		td, th {
			width: 1%;
			padding:5px 0;
		}
	}

	table.dataTable thead th {
	    position: relative;
	    background-image: none !important;
	}
	 
	table.dataTable thead th.sorting:after,
	table.dataTable thead th.sorting_asc:after,
	table.dataTable thead th.sorting_desc:after {
	    position: absolute;
	    top: 6px;
	    right: 15px;
	    display: block;
	    font-family: FontAwesome;
	    opacity: 0.5;
	}

	table.dataTable thead th.sorting:after {
	    content: "\f0dc";
	    color: $black;
	    font-size: 0.8em;
	    padding-top: 0.12em;
	}
	table.dataTable thead th.sorting_asc:after {
	    content: "\f0de";
	}
	table.dataTable thead th.sorting_desc:after {
	    content: "\f0dd";
	}
}

.single-missile {

	header {
		margin-bottom:30px;
	}

	ul.breadcrumbs {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    font-size: 0.9em;
	    margin-bottom:20px;

		li {
		    float: left;

		    &:after {    
				content: '»';
				margin:0 5px;
			}

			a {
			    padding: 14px 0px 14px 0;
			    text-decoration: none;
			}
		}
		li:last-child {
			&:after {
				content: '';
			}
		}
	}
}
