@use '../abstracts' as *;

/*=================================
=            Accordion            =
=================================*/

.accordion {
  margin: 2rem 0;

  .accordion-title {
    @extend %font-ui-heading-sm;
    position: relative;
    clear: both;
    margin: 0 0 0.5rem;
    padding: rem(12px) rem(16px);
    color: $color-text-dark-170;
    background-color: $color-primary-light-gray;
    cursor: pointer;

    &::after {
      content: '+';
      position: absolute;
      right: 1.5rem;
      display: inline-block;
    }

    &:hover {
      background-color: $color-primary-light-blue;
    }

    &.open::after {
      content: '\02013';
    }
  }

  .accordion-content {
    display: none;
    padding: 1.5rem;

    p:last-of-type {
      margin-bottom: 0;
    }

    /*----------  Image Alignments  ----------*/
    .alignright.wp-caption {
      margin-right: 0;
    }

    .alignleft.wp-caption {
      margin-left: 0;
    }
  }
}
