@use '../abstracts' as *;

/*=================================
=            Accordion            =
=================================*/

.accordion {
  margin: 2rem 0;

  .accordion-title {
    @extend %font-ui-heading-sm;
    position: relative;
    clear: both;
    margin: 0 0 0.5rem;
    padding: rem(12px) rem(16px);
    color: $color-text-dark-170;
    background-color: $color-primary-light-gray;
    cursor: pointer;

    &::after {
      content: '+';
      position: absolute;
      right: 1.5rem;
      display: inline-block;
    }

    &:hover {
      background-color: $color-primary-light-blue;
    }

    &.open::after {
      content: '\02013';
    }
  }

  .accordion-content {
    @extend %font-body-long-lg;
    display: none;
    margin-bottom: rem(32px);
    padding: 1.5rem;
    color: $color-text-dark-190;

    a {
      color: $color-primary-blue-200;
      text-decoration: underline;

      &:hover {
        color: $color-primary-blue-500;
      }
    }

    p {
      margin-bottom: rem(32px);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    figure {
      margin-bottom: rem(32px);
    }

    .alignright {
      --margin-gutter-side: 0;
    }

    .alignleft {
      --margin-gutter-side: 0;
    }
  }

  ul,
  ol {
    @extend %font-body-list-lg;
    margin-bottom: 0;
    padding-bottom: rem(24px);
    padding-left: rem(32px);
    color: $color-text-dark-190;

    li:not(:last-child) {
      margin-bottom: rem(8px);
    }
  }  
}
