@use '../abstracts' as *;

.ataglance {
  margin-bottom: rem(56px);
  padding: rem(24px) rem(32px) rem(48px) rem(32px);
  color: $color-text-dark-190;
  background: $color-primary-light-gray;

  > *:first-child {
    @extend %font-copy-heading-5;
    color: $color-text-dark-100;
    font-weight: normal;
    margin-bottom: rem(12px);
  }

  p {
    @include font-size(18px);
    line-height: 1.35;

    strong {
      @extend %font-ui-heading-xs;
      margin-top: rem(12px);
    }
  }

  @include breakpoint('small') {
    p:not(:first-child) {
      column-gap: rem(32px);
      columns: 2;
    }
  }
}
