@use '../abstracts' as *;

.download-pdf {
  margin-bottom: rem(32px);

  &__cover {
    max-width: rem(250px);
    margin: 0 auto rem(12px) auto;
  }

  &__link {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}
