@use '../abstracts' as *;

.image-caption {
  @extend %font-body-short-md;
  display: block;
  max-width: $size__content-max-width;
  margin: rem(12px) auto rem(32px) auto;
  color: $color-text-dark-170;
}
