@use '../abstracts' as *;

.featured-media {
  margin-bottom: rem(32px);
}

img + figcaption {
  @extend %font-body-short-md;
  display: block;
  max-width: $size__content-max-width;
  margin: rem(12px) auto 0 auto;
  color: $color-text-dark-170;
}

.aligncenter.size-large,
.alignwide.size-large,
.alignfull.size-large {
  margin-top: rem(32px);
}

.aligncenter.size-large {
  width: 100%;
  max-width: $size__content-max-width;

  img {
    width: 100%;
  }
}
