@use '../abstracts' as *;

.key-takeaways {
  margin-top: rem(32px);
  margin-bottom: rem(56px);
  padding: rem(24px) rem(36px) rem(32px) rem(36px);
  background: $color-primary-light-gray;

  &__title {
    @extend %font-ui-heading-md;
    margin-bottom: rem(12px);
    color: $color-text-dark-100;
  }

  &__list {
    @extend %font-body-list-lg;
    color: $color-text-dark-190;
    list-style: disc !important;

    &-item {
      margin: 0 rem(32px) rem(12px) rem(32px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__download-btn {
    margin-top: rem(24px);
  }
}
