@use '../abstracts' as *;


// These styles control the legacy "At a Glance" box that were added directly to the posts instead of using the specialized block. If old content is converted to using the block, this CSS can be safely removed.
.ataglance {
  margin-bottom: rem(56px);
  padding: rem(24px) rem(32px) rem(48px) rem(32px);
  color: $color-text-dark-190;
  background: $color-primary-light-gray;

  > *:first-child {
    @extend %font-copy-heading-5;
    margin-bottom: rem(12px);
    color: $color-text-dark-100;
    font-weight: normal;
  }

  p {
    @extend %font-body-short-lg;

    strong {
      @extend %font-ui-heading-xs;
    }
  }

  @include breakpoint('small') {
    p:not(:first-child) {
      columns: 2;
      column-gap: rem(32px);
    }
  }
}
