@use '../abstracts' as *;

.pagination {
  @extend %font-ui-text-lg;
  color: $color-text-dark-155;

  .icon {
    height: rem(12px);
  }

  .page-numbers {
    display: inline-block;
    padding: rem(8px);

    @include breakpoint('medium') {
      margin: 0 rem(16px);
    }

    &:hover {
      color: $color-text-dark-190;
      border-top: 4px solid $color-primary-blue-900;
    }

    &.current {
      color: $color-primary-blue-200;
      font-weight: 600;
      border-top: 4px solid $color-primary-blue-200;
    }
  }

  .dots:hover {
    color: $color-text-dark-155;
    border-top: 0;
  }

  .placeholder {
    color: $color-line-mid-gray;
    
    &:hover {
      color: $color-line-mid-gray;
      border-top: 0;
    }
  }
}
