@use '../abstracts' as *;

.pagination {
  @extend %font-ui-text-lg;
  color: $color-text-dark-155;
  text-align: center;

  @include breakpoint('large') {
    text-align: left;
  }

  .icon {
    height: rem(12px);
  }

  .page-numbers {
    display: inline-block;
    padding: rem(8px);

    &::before {
      position: relative;
      top: -8px;
      right: 0.5rem;
      display: block;
      width: 0;
      height: 4px;
      background-color: $color-line-mid-gray;
      transition: width 0.15s linear;
      content: '';
    }

    &:hover::before {
      width: calc(100% + 1rem);
    }

    @include breakpoint('medium') {
      margin: 0 rem(16px);
    }

    &.current {
      &::before {
        width: calc(100% + 1rem);
        background-color: $color-primary-blue-200;
      }
    }
    
    &.dots:hover::before,
    &.placeholder:hover::before {
      display: none;
      background-color: transparent;
    }
    
    &.placeholder {
      color: $color-line-light-gray;
    }
  }
}
