@use 'abstracts' as *;

.post-block {
  position: relative;
  margin: rem(40px) 0;
  color: $color-text-dark-170;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: rem(40px);

  &:first-of-type {
    margin: rem(24px) 0 rem(40px) 0;
  }

  &__category,
  &__title,
  .post-meta__date,
  .post-meta__authors,
  p {
    grid-column: 1 / span 1;
  }

  &__category {
    @extend %font-ui-text-sm;
    display: inline-block;
    margin-bottom: rem(16px);

    &:not(:last-child) {
      margin-right: rem(4px);
    }
  }

  &__title {
    @extend %font-ui-headline-lg;
    margin-bottom: rem(8px);
    color: $color-text-dark-100;
  }

  .post-meta__date {
    margin-bottom: rem(4px);
  }

  .post-meta__authors {
    margin-bottom: rem(16px);
  }

  .wp-post-image {
    position: absolute;
    grid-column: 2 / span 1;
  }

  p {
    @extend %font-body-short-md-serif;
    color: $color-text-dark-190;
  }
}
