@use 'abstracts' as *;

.post-block {
  display: grid;
  grid-template-columns: 1fr;
  padding: rem(40px) 0;
  color: $color-text-dark-170;
  border-bottom: 1px solid $color-line-mid-gray;
  overflow: hidden;
  
  &:first-of-type {
    padding: rem(24px) 0 rem(40px) 0;
    border-top: 1px solid $color-line-mid-gray;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: rem(40px);
    width: 100%;
    background-color: $color-text-light-100;
  }

  &__category {
    @extend %font-ui-text-sm;
    display: inline-block;
    grid-row: 1;
    margin-bottom: rem(16px);
    text-transform: uppercase;

    a:not(:first-child) {
      font-weight: 600;
    }

    a:not(:last-child) {
      margin-right: rem(4px);
    }
  }

  &__title {
    @extend %font-ui-headline-lg;
    grid-row: 2;
    margin-bottom: rem(8px);
    color: $color-text-dark-100;
  }

  .post-meta__date {
    grid-row: 3;
  }

  .post-meta__authors {
    grid-row: 4;
    margin-bottom: rem(16px);
  }

  .thumbnail-link {
    grid-row: 6;
    margin-bottom: rem(24px);

    img {
      width: 100%;
    }
  }

  &__excerpt {
    @extend %font-body-short-md-serif;
    grid-row: 7;
    color: $color-text-dark-190;
  }

  @include breakpoint('small') {
    position: relative;
    grid-template-columns: 2fr 1fr;
    column-gap: rem(40px);

    &__category,
    &__title,
    .post-meta__date,
    .post-meta__authors,
    &__excerpt {
      grid-column: 1 / span 1;
    }

    .thumbnail-link {
      position: absolute;
      grid-column: 2 / span 1;
      grid-row: 1;
      max-width: rem(200px);
    }
  }
}
