@use '../abstracts' as *;

.related-links {
  margin-top: rem(40px);
  margin-bottom: rem(40px);
  padding: rem(24px) rem(32px);
  background: $color-primary-light-gray;

  &__title {
    @extend %font-copy-heading-5;
    margin-bottom: rem(12px);
    color: $color-text-dark-100;
  }

  &__item {
    @extend %font-body-short-lg;
    margin-bottom: rem(12px);
    color: $color-text-dark-170;
    font-style: italic;

    &:last-child {
      margin-bottom: rem(24px);
    }
  }

  &__link {
    @extend %font-body-short-lg-serif;
    color: $color-primary-blue-200;
    font-style: normal;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    .icon {
      width: 0.67em;
      height: 0.67em;
      margin-left: rem(2px);
      fill: $color-primary-blue-600;
    }

    &:hover {
      color: $color-primary-blue-500;

      .icon {
        fill: $color-primary-blue-500;
      }
    }
  }
}
