@use 'abstracts' as *;

/* stylelint-disable-next-line */
.addtoany_list {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  a {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: rem(40px);
    height: rem(40px);

    &:hover img {
      filter: invert(46%) sepia(30%) saturate(283%) hue-rotate(148deg) brightness(91%) contrast(87%);
    }

    img {
      filter: invert(82%) sepia(25%) saturate(131%) hue-rotate(149deg) brightness(81%) contrast(86%);
      transition: all 0.3s ease-in-out;
    }
  }

  /* stylelint-disable */
  .a2a_button_print img,
  .a2a_button_linkedin img,
  .a2a_button_copy_link img {
    width: rem(24px);
    height: rem(24px);
  }
  /* stylelint-enable */

  /* stylelint-disable-next-line */
  .a2a_button_email {
    width: rem(64px);
    margin: 0 rem(12px);
    padding: 0 rem(12px);
    border-right: 1px solid $color-primary-light-blue;
    border-left: 1px solid $color-primary-light-blue;

    &:hover {
      border-right: 1px solid $color-primary-light-blue;
      border-left: 1px solid $color-primary-light-blue;
    }
  }

  /* stylelint-disable-next-line */
  .a2a_button_email img {
    width: rem(24px);
    height: rem(17px);
  }

  /* stylelint-disable-next-line */
  .a2a_button_facebook img {
    width: rem(13px);
    height: rem(24px);
  }

  /* stylelint-disable-next-line */
  .a2a_button_twitter img {
    width: rem(24px);
    height: rem(20px);
  }

  @include breakpoint('large') {
    .single__header &,
    .at-a-glance__wrapper & {
      position: absolute;
      top: 0;
      // left: 0;
      flex-direction: column;

      /* stylelint-disable-next-line */
      .a2a_button_email {
        width: rem(40px);
        height: rem(64px);
        margin: rem(12px) 0;
        padding: rem(12px) 0;
        border-top: 1px solid $color-primary-light-blue;
        border-right: 0;
        border-bottom: 1px solid $color-primary-light-blue;
        border-left: 0;

        &:hover {
          border-top: 1px solid $color-primary-light-blue;
          border-bottom: 1px solid $color-primary-light-blue;
        }
      }
    }
  }

  .single__footer & {
    justify-content: right;
    width: fit-content;
    margin: rem(32px) 0 rem(32px) auto;
  }
}

.share-wrapper {
  position: relative;

  /* stylelint-disable-next-line */
  .addtoany_list {
    margin-top: rem(12px);

    @include breakpoint('large') {
      left: -6vw;
      margin-top: 0;
    }
  }
}
