@use 'abstracts' as *;

/* stylelint-disable-next-line */
.addtoany_list {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  a {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: rem(40px);
    height: rem(40px);

    &:hover img {
      filter: invert(46%) sepia(30%) saturate(283%) hue-rotate(148deg) brightness(91%) contrast(87%);
    }

    img {
      filter: invert(82%) sepia(25%) saturate(131%) hue-rotate(149deg) brightness(81%) contrast(86%);
      transition: all 0.3s ease-in-out;
    }
  }

  /* stylelint-disable */
  .a2a_button_print img,
  .a2a_button_linkedin img,
  .a2a_button_link img {
    width: rem(24px);
    height: rem(24px);
  }
  /* stylelint-enable */

  /* stylelint-disable-next-line */
  .a2a_button_email {
    width: rem(64px);
    margin: 0 rem(12px);
    padding: 0 rem(12px);
    border-right: 1px solid $color-primary-light-blue;
    border-left: 1px solid $color-primary-light-blue;

    &:hover {
      border-right: 1px solid $color-primary-light-blue;
      border-left: 1px solid $color-primary-light-blue;
    }
  }

  /* stylelint-disable-next-line */
  .a2a_button_email img {
    width: rem(24px);
    height: rem(17px);
  }

  /* stylelint-disable-next-line */
  .a2a_button_facebook img {
    width: rem(13px);
    height: rem(24px);
  }

  /* stylelint-disable-next-line */
  .a2a_button_twitter img {
    width: rem(24px);
    height: rem(20px);
  }

  @include breakpoint('large') {
    .single__header &,
    .at-a-glance__wrapper & {
      position: absolute;
      top: 0;
      left: 6%;
      flex-direction: column;

      /* stylelint-disable-next-line */
      .a2a_button_email {
        width: rem(40px);
        height: rem(64px);
        margin: rem(12px) 0;
        padding: rem(12px) 0;
        border-top: 1px solid $color-primary-light-blue;
        border-right: 0;
        border-bottom: 1px solid $color-primary-light-blue;
        border-left: 0;

        &:hover {
          border-top: 1px solid $color-primary-light-blue;
          border-bottom: 1px solid $color-primary-light-blue;
        }
      }
    }
  }

  .single__footer & {
    margin: rem(32px) auto rem(32px) 0;

    /* stylelint-disable */
    .a2a_button_print,
    .a2a_button_email {
      margin-bottom: rem(12px);
    }
    /* stylelint-enable */

    /* stylelint-disable-next-line */
    .a2a_button_email {
      margin-right: calc(100% - (88px + 12vw));
      border-right: 0;
    }
    
    @include breakpoint('small') {
      /* stylelint-disable-next-line */
      .a2a_button_email {
        margin-right: calc(100% - (72px + 12vw));
      }
    }

    @include breakpoint('medium') {
      width: fit-content;
      margin-right: 0;
      margin-left: auto;
      
      /* stylelint-disable */
      .a2a_button_print,
      .a2a_button_email {
        margin-bottom: 0;
      }
      /* stylelint-enable */

      /* stylelint-disable-next-line */
      .a2a_button_email {
        margin-right: initial;
        border-right: 1px solid $color-primary-light-blue;
      }
    }

    // &::before {
    //   content: 'Share';
    //   margin-right: rem(12);
    //   color: $color-text-gray-50;
    //   @extend %font-label-lg;
    //   font-weight: 600;
    //   text-transform: uppercase;
    // }
  }

  // .footer & {
  //   @include breakpoint($break: 'medium', $dir: 'max-width') {
  //     justify-content: center;
  //   }

  //   a {
  //     flex: 1 1 auto;
  //     max-width: fit-content;

  //     /* stylelint-disable-next-line */
  //     path {
  //       // fill: $color-text-gray-10;
  //     }

  //     /* stylelint-disable-next-line */
  //     &:hover path {
  //       // fill: $color-white-100;
  //     }
  //   }
  // }
}

.share-wrapper {
  position: relative;

  /* stylelint-disable-next-line */
  .addtoany_list {
    margin-top: rem(12px);

    @include breakpoint('large') {
      left: -6vw;
      margin-top: 0;
    }
  }
}
