@use '../abstracts' as *;

.system-elements {
  margin-bottom: rem(32px);

  &__header {
    @extend %font-copy-heading-5;
    color: $color-text-dark-100;
  }

  &__divider {
    width: rem(32px);
    height: rem(4px);
    margin: rem(12px) 0;
    background-color: $color-primary-light-blue;
    border: 0;
  }

  &__item {
    @extend %font-body-list-md;
    margin-bottom: rem(8px);
    color: $color-primary-blue-300;

    &:hover {
      color: $color-primary-blue-100;
      text-decoration: underline;
    }
  }
}
