@use 'abstracts' as *;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  width: 100%;
  margin: 0;
  padding: rem(12px);
  color: $color-primary-light-blue;
  font-size: rem(20px);
  column-gap: rem(12px);
  justify-items: center;
  background: linear-gradient(180deg, rgba(5, 32, 46, 0.56) 0%, rgba(6, 42, 59, 0.287778) 43.48%, rgba(7, 52, 74, 0) 100%);

  body .logged-in & {
    top: 32px;
  }

  &__logo {
    grid-column: 2;
    grid-row: 1;


    &.invisible {
      display: none;
    }
  }

  .site-nav {
    right: 0;
    left: 0;
    grid-column: 1 / span 3;
    grid-row: 2;
    width: 100%;
    margin: 0;
  }
  
  .primary-menu {
    @extend %font-ui-text-md-semibold-mobile-nav;
    top: 0;
    display: none;
    color: $color-text-light-190;
    text-transform: uppercase;
    
    &.visible {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: $color-primary-blue-200;
      @include full-width-background($color-primary-blue-200);
    }

    li {
      padding: rem(16px);
    }
  }

  .hamburger {
    grid-column: 1;
    grid-row: 1;
    color: $color-primary-light-gray;
    background: none;
    border: 0;

    &.invisible {
      display: none;
    }
  }
  
  .nav-close {
    display: none;
    grid-column: 1;
    grid-row: 1;
    
    &.visible {
      display: block;
      color: $color-primary-light-gray;
      background: none;
      border: 0;
    }
  }

  &__search {
    display: none;
    width: 100vw;
    height: rem(48px);
    padding: rem(12px);
    background: $color-primary-blue-400;
    
    &.visible {
      display: flex;
    }
  }
  
  #searchform {
    display: flex;
    width: 80%;
  }

  &__search-icon {
    grid-column: 3;
    grid-row: 1;

    &.invisible {
      display: none;
    }
  }

  &__search-label {
    display: none;
  }

  &__search-field {
    @extend %font-ui-text-lg;
    width: 100%;
    color: $color-text-light-155;
    background: $color-primary-blue-400;
    border: 0;
    border-bottom: 1px solid $color-primary-blue-900;
  }

  &__search-icon,
  &__search-submit {
    background: none;
    border: 0;
  }
  
  &__search-icon {
    color: $color-primary-light-blue;
  }

  &__search-submit {
    color: $color-line-mid-gray;
    line-height: 50%;
    margin-left: rem(8px);
  }

  &__search-close {
    width: rem(48px);
    height: rem(48px);
    margin-top: rem(-12px);
    margin-left: rem(20px);
    padding: 0;
    color: $color-primary-light-blue;
    font-size: rem(18px);
    line-height: 50%;
    background: $color-primary-blue-200;
    border: 0;
  }
}
