@use 'abstracts' as *;

.header {
  // position: fixed;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(5, 32, 46, 0.56) 0%, rgba(6, 42, 59, 0.287778) 43.48%, rgba(7, 52, 74, 0) 100%);

  .primary-menu {
    display: none;

    &.visible {
      display: flex;
      flex-direction: column;
      background: $color-primary-blue-200;
    }
  }

  .hamburger {
    background: transparent;
    border: 0;
    color: $color-text-light-100;

    &.invisible {
      display: none;
    }
  }
  
  .close-btn {
    display: none;
    
    &.visible {
      display: block;
      color: $color-text-light-100;
    }
  }
}
