@use 'abstracts' as *;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-height: rem(72px);
  margin: 0;
  padding: rem(12px);
  color: $color-primary-light-blue;
  font-size: rem(20px);
  background-image: $gradient-header;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-primary-blue-300;
    background-image: $gradient-header;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
  
  &.full-color::after {
    opacity: 1;
  }
  
  body .logged-in & {
    top: 32px;
  }

  &.reduce-padding {
    padding-bottom: 0;
  }

  * > {
    flex: 1 1 auto;
  }

  &__logo {
    z-index: 15;
    order: 2;
    margin: 0;


    &.invisible {
      display: none;
    }
  }

  .site-nav {
    right: 0;
    left: 0;
    z-index: -1;
    order: 4;
    margin-left: rem(-12px);
    visibility: hidden;
    transition: clip-path 0.3s linear, visibility 0.3s linear;
    clip-path: inset(0 0 100% 0);
    
    &.visible {
      z-index: 15;
      visibility: visible;
      clip-path: inset(0);
    }
  }
  
  .primary-menu {
    @extend %font-ui-text-md-semibold-mobile-nav;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: $color-text-light-190;
    text-transform: uppercase;
    background: $color-primary-blue-200;

    li {
      padding: rem(16px);
    }
  }

  .hamburger {
    z-index: 15;
    order: 1;
    color: $color-primary-light-gray;
    background: none;
    border: 0;

    &.invisible {
      z-index: -1;
      display: none;
    }
  }
  
  .nav-close {
    z-index: -1;
    display: none;
    order: 1;

    &.visible {
      z-index: 15;
      display: initial;
      color: $color-primary-light-gray;
      background: none;
      border: 0;
    }
  }

  &__search-group {
    display: flex;
    flex-wrap: nowrap;
    order: 3;
  }

  &__search {
    position: absolute;
    right: rem(12px);
    left: rem(12px);
    display: flex;
    height: rem(48px);
    padding: rem(12px);
    background: $color-primary-blue-400;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    pointer-events: none;

    &.visible {
      z-index: 15;
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
  }

  &__search-icon {
    z-index: 15;
    justify-self: right;
    order: 3;
    color: $color-primary-light-blue;
    cursor: pointer;

    &.invisible {
      display: none;
    }
  }

  &__search-label {
    display: none;
  }

  &__search-field {
    @extend %font-ui-text-lg;
    width: 100%;
    color: $color-text-light-155;
    background: $color-primary-blue-400;
    border: 0;
    border-bottom: 1px solid $color-primary-blue-900;
  }

  &__search-icon,
  &__search-submit {
    background: none;
    border: 0;
  }

  &__search-submit {
    margin-right: rem(48px);
    margin-left: rem(8px);
    color: $color-line-mid-gray;
    line-height: 50%;
    cursor: pointer;
  }

  &__search-close {
    position: absolute;
    right: 0;
    width: rem(48px);
    height: rem(48px);
    margin-top: rem(-12px);
    margin-left: rem(20px);
    padding: 0;
    color: $color-primary-light-blue;
    font-size: rem(18px);
    line-height: 50%;
    background: $color-primary-blue-200;
    border: 0;
    cursor: pointer;
  }

  @include breakpoint('small') {
    justify-content: space-between;
  }

  @include breakpoint('large') {
    flex-wrap: nowrap;
    justify-content: initial;
    padding-right: 6vw;
    padding-left: 6vw;
    column-gap: unset;
    
    &__logo {
      order: 1;
      justify-self: start;
      padding-right: rem(48px);

      &.invisible {
        display: block;
      }
    }

    .site-nav {
      z-index: 15;
      order: 2;
      width: 100%;
      margin: 0;
      visibility: visible;
      opacity: 1;
      clip-path: inset(0);
    }

    .primary-menu {
      @include large-breakpoint-font-ui-text-md-semibold();
      z-index: 75;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      @include full-width-background(0);
      white-space: nowrap;
      background: 0;

      &::before,
      &::after {
        content: none;
      }
    }

    .hamburger {
      display: none;
    }

    &__search-icon {
      justify-self: start;
    }
    
    &__search {
      order: 3;
      width: calc((100% - 6vw) - (6vw + 248px));
      transition: opacity 0.3s linear;
      
      &.visible {
        right: 6vw;
        left: initial;
      }
    }
  }

  @include breakpoint('xxlarge') {
    letter-spacing: 0.01em;
  }
}

.solid-bg {
  background-color: $color-primary-blue-300;
  
  &::after {
    content: none;
  }
}
